.cta {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  z-index: 1;
  pointer-events: none;
}

@media (max-width: 768px) {
  .cta {
    bottom: 120px;
  }
}
